@media print{
		iframe {
			display: none;
		}
		img {
			display: none;
		}
}
body{
	 background-color: #E59AF6; 
	  font-family: 'Courier New';
	  text-align: center;
}

h1{ 
	font-family: "Brush Script MT";
	text-align:center;
	font-size: 3em;
	margin-top: 25px;
}
h2{
	text-align:center;
	background-color:white;
}

p{
	text-align:center;
}

.topnav {
	text-align: center;
}
.color_table >table {
	border-width: 2px;
	border-style: solid;
	border-color: black;
	width: 50%;
}

.color_table> table th, .color_table >table td{
	border: 1px solid purple;
	padding: 5px;
}

.color_table > table th {
	background-color:lightgrey;
}

.color_table>table tr:nth-child(odd) {
	background-color:#F7F7C1;
}

.color_table>table tr:nth-child(even) {
	background-color:#FBFBE1;
}


.color_table >table td:hover{
	background-color: yellow;
	
}

.button {
  border: solid black;
  color: purple;
  padding: 15px 32px;
  display: inline-block;
  font-size: 20px;
  font-family: margin: 4px 2px;
}

#about_me h2 {
	color:grey;
	font-family:"Brush Script MT";
	font-weight: bold;
	margin-left: 100px;
	margin-right: 100px;
}

#education_summary h2 {
	color:grey;
	font-family:"Brush Script MT";
	font-weight: bold;
	margin-left: 100px;
	margin-right: 100px;
}
#education_summary p {
	margin-left: 50px;
	margin-right: 50px;
}

#experience_summary h2 {
	color:grey;
	font-family:"Brush Script MT";
	font-weight: bold;
	margin-left: 100px;
	margin-right: 100px;
}

#experience_summary h4 {
	font-weight: bold;
	margin-left: 50px;
}

#experience_summary ul,li {
	margin-left:25px;
}

#experience_summary  p {
	margin-left: 50px;
	margin-right: 50px;
}

#programming_skills h2 {
	color:grey;
	font-family:"Brush Script MT";
	font-weight: bold;
	margin-left: 100px;
	margin-right: 100px;
}
#programming_skills table{
	margin-left: 300px;
	
}

#general_interests h2 {
	color:grey;
	font-family:"Brush Script MT";
	font-weight: bold;
	margin-left: 100px;
	margin-right: 100px;
}

#general_interests  p {
	margin-left: 50px;
	margin-right:50px;
}

#favorites h2 {
	color:grey;
	font-family:"Brush Script MT";
	font-weight: bold;
	margin-left: 100px;
	margin-right: 100px;
}

#favorites  p {
	margin-left: 50px;
	margin-right: 50px;
}

#projects h2 {
	color:grey;
	font-family:"Brush Script MT";
	font-weight: bold;
	margin-left: 100px;
	margin-right: 100px;
}

#projects table {
		margin-left: 300px;
		margin-bottom: 50px;
}
